@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    font-family: 'Proza Libre', sans-serif;
}

/* Utilities */
a {
    text-decoration: none;
}


.btn {
    border-radius: 0px;
}

.btn-wht {
    background-color: #fff;
    color: #24c670;
    font-weight: 600;
}

.btn-wht:hover {
    border: 1px solid #fff;
    color: #fff;
}

.btn-grn {
    background-color: #24c670;
    color: #fff;
    font-weight: 600;
    margin-right: 20px;
}

.btn-grn:hover {
    border: 1px solid #24c670;
    color: #24c670;
}

.btn-red {
    background-color: red;
    color: #fff;
    font-weight: 600;
    margin-right: 20px;
}

.btn-red:hover {
    border: 1px solid red;
    color: red;
}

.btn-trans-wht {
    border: 1px solid #fff;
    background-color: none;
    color: #fff;
    padding: 7px 25px 7px 25px;
    font-weight: 600;
}

.btn-trans-wht:hover {
    background-color: #fff;
    color: #24c670;
}

.bg-ltt-wht {
    background: #b9b9b917;
}

.primarytitle {
    font-size: 32px;
    margin-top: 20px;
    font-weight: 600;
}

.secondarytitle {
    font-size: 18px;
    font-weight: 700;
    background: #0020FF;
    background: linear-gradient(to right, #24c670 0%, #4ca2cd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-control {
    border-radius: 0;
}

/* Utilities */

.advantage {
    width: 150px;
}

.headersec {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(90deg,#24c670 0%,#4ca2cd 100%);
    border-bottom: 1px solid #ffffff29;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
}

.nav-item a {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.headersecbtn {
    margin-left: 15px;
}


.herosec {
    height: 600px;
    background-image: linear-gradient(90deg,#24c670 0%,#4ca2cd 100%);
    text-align: center;
    display: flex;
    align-items: center;
}

.herosectext h1 {
    color: #fff;
    font-weight: 700;
}

.herosectext .btn {
    margin-left: 30px;
}

.aboutsec {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #e7e7e740;
}

.aboutsec p {
    line-height: 2;
}

.aboutsecimg {
    overflow: hidden;
    margin-left: 50px;
    border: 5px solid #24c670;
}

.servicesec {
    padding-top: 100px;
    padding-bottom: 100px;
}

.servicesec .card-text {
    font-size: 14px;
}

.servicesec .cardicon {
    font-size: 36px;
}

.servicesec .card {
    width: 80%;
}

.pricingsec {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(90deg,#24c670 0%,#4ca2cd 100%);
}

.pricingsec .secondarytitle {
        color: black;
        background: none;
        -webkit-text-fill-color: black;
}

.pricingsec .card {
    width: 80%;
}

.pricingsec .card-body {
    padding: 0;
}

.pricingsec ul li {
    margin-bottom: 8px;
}

.pricingsec .card-header h4 {
    background: #0020FF;
    background: linear-gradient(to right, #24c670 0%, #4ca2cd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.pricingsec .customplan .btn {
    background-image: linear-gradient(90deg,#24c670 0%,#4ca2cd 100%);
    color: #fff;
}

.testimonialsec {
    padding-top: 100px;
    padding-bottom: 100px;
}

.mycard {
    border: 1px solid #00000020;
    padding: 20px;
}

.reviewerimage {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.reviewerimage img {
    border-radius: 100%;
}

.reviewerdetails {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: -25px;
}

.reviewerdetails h3 {
    font-size: 16px;
}

.reviewerdetails h5 {
    font-size: 10px;
    margin: 0;
}

.footerup {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(90deg,#24c670 0%,#4ca2cd 100%);
    color: #fff;
    border-bottom: 1px solid #ffffff29;
}

.footerup h4 {
    font-size: 36px;
}

.footerup .btn {
    background: #fff;
    margin-left: 15px;
    color: #24c670;
    font-weight: 600;
    font-size: 26px;
}

.footerdown {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(90deg,#24c670 0%,#4ca2cd 100%);
    color: #fff;
}

.footerlogo {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer1 .btn {
    background: #fff;
    color: #24c670;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    width: 220px;
}

/* Registration Page */
.registrationsc {
    padding-top: 150px;
    padding-bottom: 200px;
}

.registration.headersec {
    background: #fff;
}

/* Booking Page */
.bookingformsec {
    padding-top: 50px;
    padding-bottom: 150px;
}

.bookingsuccess {
    padding-top: 50px;
}



.lo-page-logo {
    margin-bottom: 40px;
}

.registrationform .btn-grn {
    background-color: #24c670;
    color: #fff;
    font-weight: 600;
    margin-right: 20px;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-align: left;
}

.table, td, th {
    border: 1px solid;
    border-color: black;
}

.headline {
    background: linear-gradient(to right, #24c670 0%, #4ca2cd 100%);
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

.headline h2 {
    font-size: 48px;
    font-weight: 800;
}

.customer-details-1,
.customer-details-2,
.customer-details-3,
.customer-details-4 {
    border: 1px solid #00000030;
    padding: 20px;
    margin: 10px;
}

.customer-details-1 h6,
.customer-details-2 h6,
.customer-details-4 h6 {
    margin-bottom: 20px;
}

.customer-details-4 p {
    line-height: 2;
}
